.myDiv {
    border: 5px outset rgb(0, 174, 255);
    background-color: rgb(191, 196, 216);
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .cprofile {
    text-align: center;
  }
  
  /*------------------------*/
  #customers {
    border-collapse: collapse;
    width: 100%;
    table-layout : fixed;
  }
  
  #customers td {
    border: 2px solid #ddd;
    padding: 10px;
  }
  
  #customers tr:nth-child(even) {
    background-color: #f2f2f2;
    text-align: center;
  }
  
  
  
  /*Modals*/
  .profile-modal-button{
  margin-top: 290px;
  }